body {
  background-color: #1f1f1f;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  place-items: center; 
  place-content: center; 
}

.blue-gradient-bg {
  background: linear-gradient(
    10deg,
    #34347d 2%,
    #23234d 74%,
    #005c9e 100%
  );
}
.buttona {
  border: 1px solid #c5c6cc;
  color: #ffffff;
  background-color: #1c1c43;
  border-radius: 10px;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttona:hover {
  background: linear-gradient(
    0deg,
    #34347d 2%,
    #23234d 60%,
    #00497d 100%
  );
}

.buttona:active {
  background: linear-gradient(
    0deg,
    #1a1a3a 2%,
    #1a1a3a 60%,
    #00375f 100%
  );
}

.center {
  align-items: center;
  margin: auto;
  place-items: center; 
  place-content: center; 
}

.bigbox {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #282828;
}

#nameInput {
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #00c378;
  border-color: #00e0ff;
  box-shadow: 0 0 5px #00e0ff;
  padding: 15px;
  background-color: #1f1f1f;
  color: white;
}
