.blue-gradient-bg {
  background: #34347d;
  background: linear-gradient(
    10deg,
    rgb(51, 51, 89) 2%,
    rgba(35, 35, 77, 1) 74%,
    rgba(0, 92, 158, 1) 100%
  );
}

.titlething {
  color: white;
}
.buttona {
  border: 1px solid gray;
  color: white;
  background-color: maroon;
  border-radius: 5px;
}

.center {
  align-items: center;
  margin: auto;
  place-items: center; /* place items horizontally centered */
  place-content: center; /* place items vertically centered */
}

.bigbox {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
}

#nameInput:focus {
  outline: none;
}

#nameInput {
  outline: none;
}

body {
  place-items: center; /* place items horizontally centered */
  place-content: center; /* place items vertically centered */
  background-color: #1f1f1f;
  font-family: "DM Sans", sans-serif;
}
